[2010-10-10 07:20] myuhe opened #1 "候補が表示されない。"
初めまして、myuheといいます。
auto-fu.zsh素晴らしいですね。愛用させてもらってます。
ところで当方の環境では、0.0.1.3以降のバージョンで正常に動作しませんでした。
現象としては、postdisplayは表示されるのですが、候補が表示されません。
なお、.zshrcにauto-fu.zshの設定だけしたものでも試してみましたが、改善ありませんでした。
また、コンパイルの有無も関係ないようでした。
0.0.1.2より古いものは問題なく動作しているようです。

当方の環境は
zsh 4.3.10 (i686-pc-linux-gnu)
ubuntu 10.04
です。

以下のように設定しています。
source ~/.zsh/auto-fu.zsh
zstyle ':auto-fu:highlight' input bold
zstyle ':auto-fu:highli

[2010-10-11 02:15] hchbaw commented on #1
setopt extended_glob

をあらかじめしておいてみてもらうとよいみたいです！
http://twitter.com/myuhe/status/26992163857

ありがとうございます！

[2010-10-11 02:20] myuhe commented on #1
無事、動作しました。
ありがとうございました！！

[2010-10-11 02:23] hchbaw commented on #1
extended_glob が off な場合でも動くようにしてみましたー。
レポート本当にありがとうございます！！

[2010-10-11 02:23] #1 closed, assigned to nobody

[2011-01-02 13:42] nicoulaj opened #2 "zsh-syntax-highlighting compatibility"
Hi,
Did you get auto-fu working with [zsh-syntax-highlighting](https://github.com/zsh-users/zsh-syntax-highlighting) ? I tried activating both but it seems highlighting takes precedence over auto-fu. Do you need us to make some change to improve compatibility ?

[2011-01-02 13:45] nicoulaj opened #3 "Need to Ctrl-C twice instead of once"
Instead of Ctrl-C once ,you have to hit it twice when using auto-fu. Would it be possible that auto-fu traps the event in some way and repropagates it to avoid that ?

[2011-01-04 15:32] hchbaw commented on #2
I'm very sorry. It seems that auto-fu needs some more coordination codes to play nice more with zsh-syntax-highlighting.

I will work on it.

[2011-01-04 15:49] hchbaw commented on #3
This behavior is intended.

Basically, the aim of Ctrl-C (and Ctrl-g, too) on auto-fu is to exit the "auto-fu mode" thing and going back to the "shell's default mode" for the command-line editing.

But I know that this behavior is awkward in some points, so this is the nice to have feature.

[2011-09-26 02:38] joe6 opened #6 "errors on startup when auto-fu.zsh is sourced"
Cannot rebind self-insert: user:url-quote-magic
Cannot rebind backward-delete-char: user:backward-delete-char
Cannot rebind backward-kill-word: user:backward-kill-word
Cannot rebind kill-line: user:kill-line
Cannot rebind kill-whole-line: user:kill-whole-line
Cannot rebind kill-word: user:kill-word
Cannot rebind magic-space: user:magic-space
Cannot rebind yank: user:yank
Vim: Warning: Output is no

[2011-09-26 02:42] #6 closed, assigned to nobody

[2011-09-26 02:58] joe6 opened #7 "startup errors"
afu-register-zle-accept-line:3: command not found: v
afu-register-zle-accept-line:3: command not found: v
afu-register-zle-accept-line:3: command not found: v
afu-register-zle-toggle:5: command not found: v

Hello,

I see the above errors when I start zsh with the auto-fu.zsh sourced. Wondering if you have any thoughts on how to fix them.

Thanks
Joe

[2011-09-26 13:16] #7 closed, assigned to nobody

[2011-09-26 13:31] hchbaw commented on #7
Hi, thank you very much for reporting the bug!

I'm very sorry. I cannot reproduce these errors.
I guess that these errors are triggered some zsh options, and I don't make auto-fu.zsh compatible with.
So, please show me your zsh options with below command,

[code]

By the way, I suspect `setopt no_shwordsplit` will fix these errors hopefully.

[2011-09-26 14:37] joe6 commented on #7
Hello,

I am very sorry for opening the issue. It was my configuration that was messed up. I had cat aliased to vimpager and there was no vimpager on my system. I also had a bunch of alias -s suffixes. I am not sure which one of these was interfering with auto-fu.zsh.

Once, I removed the alias on cat, auto-fu.zsh did not have any startup errors.

btw, I could not get auto-fu.zsh to show the dropd

[2011-09-26 15:54] hchbaw commented on #7
Hi,

Oh my bad, I use cat as the basic building block here and there.
For the time being, please source auto-fu.zsh before setting up the aliases.
Once auto-fu.zsh sourced, it does not use any *nix commads at runtime, hopefully :)
I'm very sorry for the inconvenience.

I guess for example,

[code]

and hit tab key when completion list is shown, please.

The `menu` style can have lots of values on

[2011-09-27 07:08] joe6 commented on #7
Hello,

I seem to be missing something from configuration.

I did the below on the zsh command line

--(~/etc/zsh/auto-fu-zsh)---------------------------------------------------------------(pts/4@main)--
source auto-fu.zsh
--(~/etc/zsh/auto-fu-zsh)---------------------------------------------------------------(pts/4@main)--
autoload -Uz compinit && compinit
--(~/etc/zsh/auto-fu-zsh)---------------

[2011-09-27 17:48] hchbaw commented on #7
Hi,
Oh, I forgot something;( I'm very sorry.

How about below these series of command?

[code]

The `zle-line-init () {auto-fu-init;}; zle -N zle-line-init` actually turns auto-stuff on, hopefully.

Regards.

[2011-10-14 21:45] ghost commented on #2
I hope this happens soon; this looks like it would be cool to use if it weren't incompatible.

[2012-05-21 16:35] lepht commented on #6
I still receive this error. Any comment on how to resolve it?

[2012-10-22 20:38] tonycpsu commented on #3
+1 for some sort of option to change this behavior -- perhaps a separate command for breaking out of auto-fu that can be bound to something other than Ctrl-C, or some setting that restores the default Ctrl-C behavior.

[2012-10-23 14:39] hchbaw commented on #3
All right.  I'll take a look shortly.

Thank you very much for leaving your precious feedbacks here!

[2012-10-25 15:13] dakrone opened #8 "afu-track-keymap:15: permission denied:"
When I use auto-fu.zsh on a machine over SSH, I get:

[code]

Every time I hit enter at the zsh prompt. This is using auto-fu.zsh from git (on the `pu` branch) with zsh 5.0.0.

[2012-10-25 23:48] hchbaw commented on #8
Oh I'm very sory for the inconvenience.

I will take a look into it shortly.

[2012-10-26 00:00] hchbaw commented on #8
Do you get the same error if you do not use it over SSH?
(I suspect that the zsh version on your remote side machine's)

By the way, I assume that you are using emacs these days rather than vim and you are not using 'opp.zsh', so for the meantime please remove this line from your .zshrc:

[code]

[2012-10-26 02:03] hchbaw commented on #8
I hope 6790632 fixes this, can you confirm?

[2012-10-26 02:23] dakrone commented on #8
Yep, that fixes it, thanks! :)

[2012-10-26 02:23] #8 closed, assigned to nobody

[2012-11-03 07:32] saki7 commented on #3
+1 for providing option!

[2012-11-05 07:28] vaeth opened #9 "Please reset all text attributes at the end of zle-accept-line"
I combine auto-fu with zsh-syntax-highlighting and have customized my own colors with zsh-syntax-highlighting, some of them "bold". Occasionally, it happens that after pressing "enter" the program is started with bold color-mode not being reset. Surprisingly this is somewhat unreproducible, i.e. exactly the same input can lead to bold or normal colors during the program run; usually the colors are

[2012-11-05 08:18] vaeth opened #10 "Clean exit with Ctrl-d and different behavior for Ctrl-d"
When exiting zsh with Ctrl-d (if auto-fu is used) the exit status is nonzero which is irritating for remote or chroot shells. The reson is that the function

afu-eof-maybe () {
  local eof="$1"; shift
  [[ "$BUFFER" != '' ]] || { $eof; return }
  "$@"
}

is called with $1=exit, and the status during $eof is nonzero, because the previous test has nonzero status. A simple inversion of the logic woul

[2012-11-08 05:24] hchbaw commented on #9
Thank you very much for reporting!

I haven't noticed this particular problem when pressing "enter".
(As you can see yes, I've been playing with zsh-syntax-highlighting for a while, too.)

I will introduce a workaround for it as you have suggested like this:

[code]

I sometimes use non-standard functions to accept the command line, so I will hook the 'preexec' to do its job.

[2012-11-08 05:47] hchbaw commented on #10
Thank you very much for the detailed reports. Argh... I'll commit it shortly!

Oh I'm very sorry for the inconveniences.
I see that the Ctrl-d stuff will be needed some tweaks like you seggested for somepoint, but it is _NOT_ documented how to do it. (and it is not supported well when using 'auto-fu-zcompile'.)
I'll look into it.

Thank you very much for the suggestions and detailed reports!

[2012-11-08 09:58] #9 closed, assigned to nobody

[2012-11-08 09:59] hchbaw commented on #10
Thank you very much for the your efforts, vaeth!

[2012-11-08 09:59] #10 closed, assigned to nobody

[2012-11-14 20:20] sheerun opened #11 "Unreadable readme"
The readme isn't easiest to read. Could you format it properly?

[2012-11-14 20:22] sheerun commented on #6
The same

[2012-11-15 00:00] hchbaw commented on #11
Oh, I'm very sorry.

Good catch! Yes, I know:) I'll do it shortly.
Thank you very much for your report!

[2012-11-15 00:07] hchbaw commented on #6
Oh sorry, I use `cat` as the basic building block.

At the meantime, please alias `cat` as your favorite after sourcing.

[2012-11-24 14:10] vaeth opened #12 "Please tag releases"
This is not a bug but just a request: I would appreciate if you would tag the releases regularly.

Reason: I am providing an ebuild of auto-fu.zsh for gentoo in an overlay (see URL below).
Although it is possible to use a "live" ebuild with git, it is more reliable and more convenient for the users if they can download the tarball for the current release. With github, this is only possible for tag

[2013-02-03 20:04] ascii-soup commented on #2
This is the thing stopping me from using auto fu. Any progress to report?

[2013-02-04 14:56] hchbaw commented on #2
Hi! Thank you for your interest!

You can play with it in the branch `thb` or `pu`.

It may have some minor bugs, especially I don't have time to play it
_without_ zsh-syntax-highlighting environment. I will merge it into
master if I'm sure it is in a good shape which do not break without
zsh-syntax-highlighting.

I'm very sorry for the inconvenience.

Please note that both these branches other th

[2013-02-04 21:26] ascii-soup commented on #2
I can confirm that both of those branches work well with zsh-syntax-highlighting. Thank you very much!
I will set it all up at work tomorrow so I can use it "in anger" and give it some real testing :) Thanks again!

[2013-02-23 19:19] joe9 opened #13 "Install help, please?"
This is how I sourced auto-fu.zsh into my zshrc:

http://codepad.org/gJdSz0cs

$ cat 06-auto-fu.zsh
# !/usr/bin/zsh
# First, we set sane options for the standard completion system:

autoload -Uz compinit is-at-least
compinit -D -u
zstyle ':completion:_' completer _complete
zstyle ':completion:_' list-colors \${(s.:.)LS_COLORS}
zstyle ':completion:_' menu select=1 # interactive
zstyle ':completion:

[2013-02-23 20:30] vaeth commented on #13
I recognize these lines as part of my gentoo ebuild.
I remember that I had a similar issue once and spent hours to figure out the cause. Finally, the problem was with colliding versions of zsh-fu-zsh and zsh-syntax-highlighting: Upgrading both to the latest git release made the issue magically disappear.

[2013-02-24 00:34] hchbaw commented on #13
Hi, Joe!

I've managed to get it working without any errors with
http://codepad.org/gJdSz0cs.

(just source 06-auto-fu.zsh in my ~/.zshrc)

I suspect that some other configration are conflicting with.

Please show your complete .zshrc if you don't care to open it public.
If you do care, please show below command output for the reference.

---

zmodload zsh/parameter

## for k v in ${(kv)options};

[2013-02-24 06:12] joe9 commented on #13
Hello Takeshi Banse,

Thanks for your quick response.

I copied the above code to the file : http://codepad.org/0LrI1b82

This is the shell history of what I did: http://codepad.org/rAIFNE4I

and, these are the errors:

source
06-auto-fu.zsh.does_not_work

source
06-auto-fu.zsh.does_not_work

with-afu~: job table full or recursion limit
exceeded

with-afu~: job table full or recursion limit
exceed

[2013-02-24 06:14] joe9 commented on #13
Hello Vaeth,

Thanks
Joe

[2013-02-24 06:23] joe9 commented on #13
Hello Takeshi Banse,

fyi, This is the completion related portion of my zshrc:
http://codepad.org/e7WKv3GU

Thanks
Joe

[2013-02-24 06:25] joe9 commented on #13
Hello Takeshi Banse,

Above is a wrong paste, this is the correct one: http://codepad.org/tQ9zkX6F

Thanks and Sorry for the bother,
Joe

[2013-02-24 10:44] hchbaw commented on #13
Hi, Joe!

Thank you for your reports for finding the problem.
- joe9 notifications@github.com [2013-02-24 15:12]:

This helps and I can reproduce the error now!

Please turn off rcexpandparam while sourcing the auto-fu.zsh.
This can be accomplished like below;

---

# Now we source ${PN}

() {
  # temporally turn off rcexpandparam while `source`ing the auto-fu.zsh
  setopt localoptions no_rcexpand

[2013-02-24 15:25] joe9 commented on #13
Hello Takeshi Banse,

It works now. Thanks.

Joe

[2013-02-24 15:26] #13 closed, assigned to nobody

[2013-02-24 15:29] joe9 opened #14 "used along with zsh-syntax-highlighting."
Hello,

I noticed this line in your Readme: TODO: play nice with zsh-syntax-highlighting.

I use zsh-syntax-highlighting.

I notice (being a newbie) that it does not matter whether I source auto-fu.zsh before or after sourcing zsh-syntax-highlighting.

Just wanted to check about the recommended approach (source it before zsh-syntax-highlighting or after)?

Thanks
Joe

[2013-02-26 05:24] joe9 opened #15 "bindkey to disable auto-fu?"
Hello,

I am trying to figure out how to switch between "predict-on"/"predict-off" and auto-fu.

This is my predict-on setting.

autoload predict-on
zle -N predict-off
zle -N predict-on
bindkey '^Z'   predict-on
# bindkey '^X^Z' predict-off

bindkey '^X' predict-off
zstyle ':predict' verbose true

I noticed that I cannot have both predict-on and auto-fu active at the same time.
What do I do to tur

[2013-02-26 09:34] joe9 opened #16 "Interesting behaviour"
Hello,

I am wondering if you can help me with this issue.

Attached is the screenshot of what I am talking about: http://imgur.com/gdoaItb

On the right are 2 terminals and the different auto-fu behaviour in each.

On the right most terminal with the "history word" on top shows auto-fu completing to "etc/zsh" though the shortest match of "etc" in the "local directory" is still available.

On the

[2013-02-26 21:42] joe9 opened #17 "with-afu-magic-insert~: maximum nested function level reached"
Hello,

I get the below error when I source auto-fu.zsh more than once (while trying out a few things).

with-afu-magic-insert~: maximum nested function level reached

Thanks
Joe

[2013-02-26 23:44] joe9 opened #18 "bug?"
Hello,

I could not figure out if this is due to my settings or if everyone sees these messages once in a while?

--(~)------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------(pts/43@master)--
which sr
which sr
/usr/bin/sr
sr is /usr/bin/sr

[2013-02-27 00:08] hchbaw commented on #17
Hi, Joe! Thank you for your feedbacks.

Oh sorry for the inconvenience, sourcing multiple times does not supported.
Please restart the shell. I do it like this:

[code]

[2013-02-27 00:29] hchbaw commented on #14
Hi, Joe! Thanks very much for your feedback!

For now, the order does not matter if you use with zsh-syntax-highlighting only.
But if you use it with some other zsh-contribs, it will be matter.

I've been playing/experimenting with `select-word-style` + `url-quote-magic` + `zsh-syntax-highlighting`.
In this particular case, I have to source/configure these things in this order.
1. autoload and con

[2013-02-27 00:57] hchbaw commented on #15
Hi, Joe! Ugh, `predict-on`... Good catch!

To turn-off auto-fu (and then predict-on) is a  little tricky, but I can accomplish it like this:

[code]

I hope this helps.

[2013-02-27 01:05] hchbaw commented on #16
Hi, Joe!

Oh it's fascinating to add the "history word" group to `_command_names`.
Thank you very much opening it up here. I will try it out!

[2013-02-27 03:38] joe9 commented on #16
Hello Takehi,

The above is the wrong way to go about adding history words to _command_names. As an fyi, below is an email from Bart on the subject:

Unless I'm misunderstanding your intent, you don't actually want to
change the tags from _command_names -- you just want to add another tag
that appears in completion output along with the _command_names tags?

To do this you want to replace the comp

[2013-02-27 03:38] #16 closed, assigned to nobody

[2013-02-28 03:58] joe9 opened #19 "random error"
Hello,

I receive this random error once in a while.

afu-rhs-protect:15: bad math expression: operand expected at `> 0 + 1'
afu-rhs-protect:18: bad math expression: operand expected at`> 0'
afu-rhs-protect:21: bad math expression: operator expected at `1 standout...'
afu-rhs-protect:15: bad math expression: operand expected at`> 1 + 1'
afu-rhs-protect:18: bad math expression: operand expected at

[2013-02-28 06:22] hchbaw commented on #19
Hi, Joe! Thank you for your report.

Sorry, I have not seen this before…
How about this patch? (This is mostly guesswork though)

[code]

[2013-02-28 06:56] joe9 commented on #19
Hello Takeshi,

Thanks for the patch. I applied it. Can you please add this patch to the pu
branch? The gentoo build uses that branch and I do not want to lose the
patch if I reinstall.

diff --git a/auto-fu.zsh b/auto-fu.zshindex 163603b..01c00ac 100644---
a/auto-fu.zsh+++ b/auto-fu.zsh@@ -739,6 +739,9 @@ afu-rhs-protect () {
   local rillfun="$4"
   shift 4
   local -a a; : ${(A)a::=$@}+  if (($

[2013-02-28 07:04] joe9 commented on #19
Hello Takeshi,

still happening, it seems.

--(~)------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------(pts/18@master)--
etc/zsh/
etc/zsh/
compdef/          01-prezto-helper.zsh@      20-bookmarks.zsh
40-alias-suffix.zsh         50-bindke

[2013-02-28 13:45] hchbaw commented on #19
Hi, Joe! Thank you for reporting back!

I can reproduce the error now; the `$IFS` is the cause.
I change the `which` function's `IFS="$(print '\n\t')"` to `local IFS=…` then this problem goes away.

Some auto-fu's codes are depending on `IFS` value :(
I will fix this for some time.

For now, please handle it with editing `which` function's definition.
Sorry for the inconvenience.

[2013-03-01 19:16] #19 closed, assigned to nobody

[2013-03-01 19:16] joe9 opened #20 "what does magic-space do?"
Hello,

This is my zstyle:

zstyle -L
zstyle ':completion:_' accept-exact-dirs true
zstyle ':completion:_:options' auto-description %d
zstyle :auto-fu:var autoable-function/skiplines '[[:blank:]\\\"'\'']_'
zstyle :auto-fu:var autoable-function/skipwords '[\\]_'
zstyle ':completion::complete:_' cache-path /home/j/var/zsh/zcompcache
zstyle ':completion:hist-complete:_' completer _history
zstyle :aut

[2013-03-01 19:22] joe9 commented on #18
Same as a different issue regarding the usage of IFS.

[2013-03-01 19:22] #18 closed, assigned to nobody

[2013-03-02 01:29] hchbaw commented on #20
Hi, Joe!

[code]

disables auto-stuff while magic-space. For example:

[code]

doesn't complete anything. (incr-0.2.zsh does this behavior, so I respect it.)

On the other hand,

[code]

enables _almost_ every kind of editor commands like backward-delete-char, including magic-space.
The magic-space editor command is most likely bindkeyed on the space-bar.

Hope this helps.

[2013-03-02 05:27] joe9 commented on #14
Can you please check this commit into the pu branch?

[2013-03-03 15:52] joe9 opened #21 "auto-fu disabling xtrace and verbose output"
Hello,

When I have auto-fu on, I do not see any output from xtrace and verbose options.

Thanks
Joe

[2013-03-03 18:29] joe9 opened #22 "with-afu-zle-rebinding:10: command not found: afu-zle-aysce-install"
Hello,

The below error is showing up once in a while when I start a new terminal.

with-afu-zle-rebinding:10: command not found: afu-zle-aysce-install

Thanks
Joe

[2013-03-04 00:29] hchbaw commented on #22
Hi, Joe!

Sorry, I've not seen this error. Please show below command output.

[code]

[2013-03-04 08:13] joe9 commented on #21
This is an issue with my setup. Nothing to do with auto-fu.

Sorry for the bother.

[2013-03-04 08:13] #21 closed, assigned to nobody

[2013-03-17 00:59] Mizuchi opened #23 "Doesn't compatiable with oh my zsh."
It seems that this script does not compatiable with oh my zsh <https://github.com/robbyrussell/oh-my-zsh>. I got this error when loading.

 $ source auto-fu.zsh
 Cannot rebind self-insert: user:url-quote-magic

[2013-03-19 01:23] hchbaw commented on #23
Hi, Mizuch! Thank you for your report.

I'm sorry, `master` branch does not support well yet for these contrib widgets like `url-quote-magic`, etc.

I've been playing these stuff in `pu` branch.

[2013-03-24 19:25] florian opened #24 "Errors after sourcing"
[code]

[2013-03-25 00:14] hchbaw commented on #24
Hi, thank you for your report.

How about doing this instead?

[code]

[2013-03-25 08:26] florian commented on #24
[code]

I also tried checking out the latest tag, and then sourcing. Same error. I guess that tagged version was considered stable, so do you need more information about my setup?

[2013-03-27 11:00] hchbaw commented on #24
Yes, it should be considered stable.
But it seems that you are using `zsh-syntax-highlighting`. Stable versions (including the `master` and `next` branches) do not support very well yet these well-known extensions. (`zsh-sytax-highlighting`, `url-quote-magic` etc)
I'm very sorry for the inconvenience.

If you want to experiment with these extensions, plese take a look at `thb` or `pu` branch.
Thes

[2013-03-27 11:03] hchbaw commented on #14
I've pushed this hunk into `pu`.

Thank you for your suggestion!

[2013-03-27 11:03] #14 closed, assigned to nobody

[2013-03-27 13:25] florian commented on #24
Yeah, I'm using zsh-syntax-highlighting. A pity that they don't work together.

[2013-04-01 15:39] AllisonV commented on #3
+1

[2013-05-07 07:04] louisdang opened #25 "License"
Hi, can you add a license to this package? Thanks.

[2013-08-12 03:27] PythonNut opened #26 "Disable menu completion"
Thank you for this excellent script. I have _thb_ running on my ZSH alongside zsh-syntax-highlight

I have menu completion configured to be extra-verbose. It's on the slow side and I would rather it not be triggered on self-insert. Is there a way to disable the menu completion aspect such that the highlighting in the line is the only thing I see?

Thanks,
PythonNut

[2013-08-22 10:40] hchbaw commented on #25
I'm too late; very sorry.

I've make it public domain. Thank you very much spotting it.

[2013-08-22 10:40] #25 closed, assigned to nobody

[2013-08-22 10:54] hchbaw commented on #26
Thank you very much for your interest!

I'm not quite sure; probably I missed the point. But I suspect that below code will help your needs some point...

[code]

[2013-08-23 03:20] PythonNut commented on #26
Thank you! That works perfectly.

[2013-08-23 03:20] #26 closed, assigned to nobody

[2013-08-23 04:06] wangxiaomo commented on #6
[https://github.com/hchbaw/auto-fu.zsh/issues/23](https://github.com/hchbaw/auto-fu.zsh/issues/23)
fixed.

[2013-08-23 06:12] louisdang commented on #25
Thanks!

[2013-10-03 15:24] RobertAudi commented on #24
I also use `zsh-syntax-highlighting` and it doesn't work at all...

I also tried the `thb` and `pu` branches but that made the terminal crash...

[2013-10-03 15:27] RobertAudi commented on #2
I just tried both branches and they make zsh and the Terminal crash. Any progress on that please?

[2013-10-04 00:26] hchbaw commented on #2
Hi @AzizLight, thank you very much for your interest.

Please show your zsh setup. I cannot reproduce any crashes here.
I did this possibly simplest procedure to get it working.

[code]

In this example, I've got `ls` at the command line is colored and completion choices are shown.
So it seems working.

[2013-10-04 18:44] RobertAudi commented on #2
Hi @hchbaw

Thanks for the fast answer. I should have read the README before posting a stupid comment, Sorry! I had forgotten to add the `zle-line-init () auto-fu-init; zle -N zle-line-init` line to my `.zshrc`...

However, there is still some odd behaviour. For instance, when I type `l` it autocompletes to `LANG=` and then if I type `s` it completes to `LANG=sk_SK` so I can't use `ls` anymore...

[2013-10-05 03:12] hchbaw commented on #2
Hi @AzizLight, thankyou reporting back.

Ugh, I have not heard such a wired behavior.
Theoretically, `auto-fu.zsh` does the almost same thing that it just hits the `TAB` after each input at the command line. So, it should help to do a same thing _without_ `auto-fu.zsh`; just enter  an `l` letter, then hit `TAB` and watching the result could help to identify problems.

It seems to me that the first

[2013-10-05 12:07] RobertAudi commented on #2
Hi @hchbaw
Thanks a lot for you patience and your support :+1:
What you are saying makes a lot of sense. I am using [`zshuery`](https://github.com/myfreeweb/zshuery),
which is a drastically more lightweight version of `oh-my-zsh`. When I press `l<TAB>` without `auto-fu`,
I see the same behaviour.

My ZSH skills are dire, but I think that's the snippet of code from `zshuery` that sets up completion

[2013-10-05 12:56] RobertAudi commented on #2
@hchbaw  Thanks for your patience and your support! :+1:
With the help of guys in the `#zsh` IRC channel on Freenode, I managed to fix the problem. I just removed the following line from my `.zshrc` and it worked fine:

[code]

Again thanks a lot :+1:

Aziz

[2013-10-05 13:26] RobertAudi opened #27 "Weird error when using functions"
I have a function called `mcd`:

[code]

When I type `mcd`, completion works. But then, when I type `<Space>` followed
by any letter, I get a bunch or errors. In this example, I typed `mcd h`:

[code]

I don't know if that is a configuration problem from me or a bug from `auto-fu`..

[2013-10-05 13:28] RobertAudi commented on #27
I just realized it's not `auto-fu`'s fault... Sorry about that...

[2013-10-05 13:28] #27 closed, assigned to nobody

[2013-10-07 14:20] RobertAudi opened #28 "Add an option to blacklist some commands"
Autofu fails with some commands. It's not Autofu's fault, but it would be useful to have a blacklist some commands

[2013-10-08 10:44] hchbaw commented on #28
Hi, @AzizLight.

Yes, it can do. It uses some blacklist patterns.
For example, if I want to ban some `svn co …` stuffs because of its slowness, it can be accomplish like this:

[code]

Also, some _live_ examples really help. **Great thanks for those opening it to the public**:
https://github.com/search?q=zstyle+':auto-fu:var+autoable-function'&type=Code
(The above search query yields lots of same

[2013-10-08 10:55] RobertAudi commented on #28
@hchbaw
Ah! Thanks a lot! :+1:

[2013-10-08 10:55] #28 closed, assigned to nobody

[2013-10-09 18:55] RobertAudi opened #29 "Not compatible with ZSH Vi-mode"
I just added the following snippet to my `.zshrc` (taken from the Internet, I know!):

[code]

If I put this before auto-fu then auto-fu works but not the Vi-mode, and if I put it after auto-fu then Vi-mode works but not auto-fu...

Weird.

[2013-10-10 15:29] hchbaw commented on #29
Hi, @AzizLight.

Sadly, no. The plain zsh’s `bindkey -v` is not well supported yet.
**But… Yes**, I use some kind of vi-ish modal editings.

Here is quick setup guides which is close to mine.
For those who really want to jump in to the configuration hell, “Wellcome to the real world (tm)”.

[code]

Hope this helps.

TL;DR: Regarding to the `bindkey -v`

As my own understanding, `bindkey -v` activa

[2013-10-10 15:34] RobertAudi commented on #29
Hello @hchbaw
Thanks a lot for the long answer! :+1:

My ZSH skills are really poor, so I did not understand everything you explained, so my next question could be very stupid:

Isn't it possible to disable auto-fu when the `Esc` key is pressed and then enable it again when I press any command that would bring me into insert mode?

[2013-10-10 15:55] hchbaw commented on #29
Ah, sorry.

The above example actually accomplishes here, it's quite complitated though.
Doesn't it work for you?

[2013-10-10 17:09] RobertAudi commented on #29
I don't know yet, I did not have the time to test your code. Will do in a bit and I'll let you know what happens

[2013-10-10 19:00] RobertAudi commented on #29
@hchbaw Works for me! Thanks a lot :+1:

[2013-10-10 19:00] #29 closed, assigned to nobody

[2013-10-10 23:31] hchbaw commented on #29
@AzizLight Thank you very much for reporting back!

[2013-11-10 12:12] vaeth opened #30 "breakage with upcoming zsh-5.0.3"
When using auto-fu.zsh with the current git version of zsh (which perhaps will be released soon as zsh-5.0.3), the prompt and command line are printed twice for every command.

I was not able to track whether this is due to a bug of zsh-5.0.3 or due to some changed behaviour of zsh-5.0.3.

[2013-11-10 12:33] vaeth commented on #30
I forgot to mention that I tested only with the pu branch.

Experiments show that the problem disappears if the command "zle -I" is removed from the afu-line-init() function.
This removal also caused no obvious problems with zsh-5.0.2, but I have no idea whether this is a proper fix.

[2013-11-11 12:53] hchbaw commented on #30
Hi, @vaeth!

Thank you very much for reporting!
I will take a look shortly.

[2013-11-12 02:22] hchbaw commented on #30
I've pushed the changes.
`pu`, `next` and `thb` need this change if you are using the versions of > zsh-5.0.2.

Thank you very much @vaeth for your efforts!

[2013-11-12 02:22] #30 closed, assigned to nobody

[2013-11-12 08:54] vaeth commented on #30
Thanks a lot! Works like a charm on zsh-5.0.3-test1 and also on earlier versions like zsh-5.0.2 or zsh-4.3.17

[2014-01-06 21:42] RedHatter opened #31 "Causes undo widget not to work"
When auto.fu is enable the undo widget stops working. If I type 'thing' and hit undo the 'n' disappears (should be the 'g'), if I hit it again nothing happens.

[2014-01-06 23:43] hchbaw commented on #31
Hi, @RedHatter.
Thank you for your report.

Ugh… `undo` does not play nice somehow, but I cannot find any workarounds for now.
Sorry for the inconvenience.

Perhaps, auto-fu.zsh performs lots of destructive operations (such as modifying parameters (`$BUFFER` and such), calling other widget and so on) without considering these destructivenesses which break other widgets like `undo` you mentioned.

[2014-06-18 21:11] cristicbz commented on #3
I would also appreciate this, I always use ctrl-c to clean the current line if I change my mind.

[2014-06-21 16:52] LordZeroHour opened #32 "Uninstall instructions?"
I am not zhs savvy, I installed auto-fu in the wrong way and now I have undesired results.

How do I remove auto-fu?

[2014-08-21 10:13] ovikholt opened #33 "completion for npm is super slow"
Type 'npm' then space and another character. Another of these lines is printed every second

[code]

[2014-08-23 01:10] hchbaw commented on #33
Hi, @ovikholt !  Thank you very much for your feedback.

Unfortunately, I cannot reproduce.  Dose `npm`'s completion work correctly without `auto-fu.zsh`?

[2014-09-17 15:20] Firef0x opened #34 "Error message: with-afu-zle-rebinding:16: command not found: afu-zle-aysce-install and with-afu-zle-rebinding:16: command not found: -zle-force-install"
こんにちわ~~ @hchbaw 君

The following error are showing up alternately every time  I start a new terminal.

[code]

and

[code]

A bit similar to issue https://github.com/hchbaw/auto-fu.zsh/issues/22 from @joe9  , but I think it's better to make a new issue to report it.

What's more, the following command just outputs a blank line.

[code]

How could I fix the error message?

Hope for your reply !!! お

[2014-09-20 05:46] hchbaw commented on #34
ハイ、こんにちわ! Mucho gusto @Firef0x .
Thank you very much for your detailed report.

Ugh, `$functions[afu-initialize-rebinds]` will be empty in a zcompiled auto-fu environment.

I suspect something went wrong for generating the `~/.zsh/auto-fu` file.
How about below command to zcompile auto-fu?

[code]

[2014-09-20 20:24] Firef0x commented on #34
そうですね !

#

Here is the output:

[code]

The same error message still shows after executing the command.

Hope for your reply !

[2014-09-21 01:39] hchbaw commented on #34
Thank you very much reporting back!

Does same error still happen if your `~/.zshrc` like this instead?
(This means don't use zcompiled file.)

[code]

And,

Could you post some portions of `~/.zsh/auto-fu` ?

I want to see `with-afu-zle-rebinding` function in it.
It should be something like this:

[code]

[2014-09-22 14:46] Firef0x commented on #34
Error message still shows, but not the same. Here is the output:

[code]

Seems like thing's gonna be worse~~~

#

Here is the whole file:
https://gist.github.com/Firef0x/88c833e7590860fd53a7#file-auto-fu

#

I've compared the part you mentioned, and found only one difference. It' s in https://gist.github.com/Firef0x/88c833e7590860fd53a7#file-auto-fu-L681 , which is `afu-zle-aysce-install` compare

[2014-09-28 05:19] monkey413 commented on #22
I have the same problem too.
Thanks a lot.

[code]

[code]

[2014-10-02 17:05] Firef0x commented on #34
So it means that I have to replace `afu-zle-aysce-install` with `afu-zle-force-install` every time after I  zcompiled `auto-fu.zsh` into `~/.zsh` :question: :grey_question: :question:

Or this is really a bug in this project :u6709: :bug:  :question: :grey_question:

Hope for your reply !

Yours sincerely

[2014-10-04 04:23] hchbaw commented on #34
I'm very sorry, it's too late.

Thank you very much for posting on https://gist.github.com/Firef0x/88c833e7590860fd53a7#file-auto-fu.

Yes. I have wanted to see this line:
https://gist.github.com/Firef0x/88c833e7590860fd53a7#file-auto-fu-L681

But I cannot figure out how this line came from…
Then, I would like to see your local `auto-fu.zsh` checkout,
https://github.com/hchbaw/auto-fu.zsh/blob/42d

[2014-10-06 04:05] Firef0x commented on #34
I just did a clean clone to my computer, and the file `auto-fu.zsh` is the same as the one in https://github.com/hchbaw/auto-fu.zsh/blob/42dbef5da89360f132cce010004d4c674a13c951/auto-fu.zsh , and line 1461 is  `afu-zle-force-install` of course.

What's more, there is no output of the command `git status --short` in my local clone repo. :confused:

Hope for your reply !

Yours sincerely

[2014-10-06 12:45] hchbaw commented on #34
Thank you very much for your clarifications.
I cannot find out why this `aysce` thing is coming.

These are quite trial and errors:
How does below snippet output, does it still output `aysce`?

[code]

It may or may not be a configration problem,
I want to see your `setopt`s at `auto-fu-zcompile`ing:

[code]

What's happening in general when creating `~/.zsh/auto-fu`,
I want to see the trace infor

[2014-10-06 12:50] hchbaw commented on #22
Thanks your post @monkey413 .
I'm puzzled why `aysce` comming...

[2014-10-06 21:21] Firef0x commented on #34
See https://gist.github.com/Firef0x/a09d323e816005603ed6#file-output1
No `aysce` found in the output.

#

See https://gist.github.com/Firef0x/a09d323e816005603ed6#file-output2

#

See https://gist.github.com/Firef0x/a09d323e816005603ed6#file-z-log

Hope for your reply !

Yours sincerely

[2014-10-08 13:47] hchbaw commented on #34
Thanks, I'm glad to hear this. This is very OK.

This is exactly the same as mine. Thank you very much.

After fiddling around with some paths informations in my trace output file,
`% diff -u z.log′ a09d323e816005603ed6/z.log` just outputs:

[code]

Ugh… Sorry, I have no idea…
I will fresh install this OS and see what will happen.

Sorry for the inconvenience, for now, please do below commands to

[2014-10-17 01:00] Firef0x commented on #34
Okey-dokey! I get it! I'll keep this issue open.

**どうもありがとうございます ！**

Yours sincerely

[2014-12-28 06:43] milieu commented on #23
@hchbaw Can you merge this into master already? This looks terrible when used with [Antigen](https://github.com/zsh-users/antigen).

[2014-12-28 07:07] milieu commented on #24
Got the same results @RobertAudi got back in 2013.

[2014-12-28 07:15] RobertAudi commented on #24
@milieu This project has not been updated for a long time. You should look at [tarruda/zsh-autosuggestions](https://github.com/tarruda/zsh-autosuggestions)

[2014-12-29 07:54] hchbaw commented on #23
Sorry, @milieu .
I don't use oh-my-zsh nor antigen personally, so I cannot confirm if it would work right or not.

Indeed, as long as I've been using `pu` branch, it works for me with/without `url-quote-magic`.

[2014-12-29 08:11] hchbaw commented on #24
Could you confirm that the https://github.com/hchbaw/auto-fu.zsh/issues/2#issuecomment-25669236 does not work, @milieu ?

[2015-01-18 17:03] vaeth commented on #23
Maybe you can take this opportunity to fix bug #12, finally: The ebuild I made public for gentoo is installing the "pu" branch since years (actually, I think this is roughly since this bug #12 is open), and it works perfectly fine for me; I also got no reports about issues with the ebuild.
I think many people are just downloading the 2011 tarball and then run into problems which are long fixed sin

[2015-01-19 07:13] chenglou commented on #32
You can just remove the repository, wherever you cloned it.

[2015-01-19 07:16] chenglou commented on #23
:+1: @hchbaw from my usage the `pu` branch has been great; can you merge it into master? This'll mislead fewer people when they try this.

[2015-01-19 07:23] chenglou commented on #33
@ovikholt here's the answer: http://segmentfault.com/q/1010000000743734/a-1020000000743738
Which links to this: https://docs.npmjs.com/cli/completion

This solves the problem for me. Unfortunately, npm completion itself is super slow (https://github.com/npm/npm/issues/6671). In the meantime I've disabled it by commenting [this](https://github.com/npm/npm/blob/41ecebe3009cb9b53b46b871c00f1133e3eb92

[2015-01-19 17:43] chenglou commented on #11
@hchbaw are you still doing it? If not, I can do it. While we're at it, we can move the changelog out of the zsh file too.

[2015-01-20 13:28] hchbaw commented on #23
Oh,  thank you very much for your comments and clarifications.
I would like to merge the topics on `pu` into `master` in a few days by this weekend at the latest.

[2015-01-20 13:31] hchbaw commented on #33
@chenglou thank you very much for your efforts.

[2015-01-20 13:31] #33 closed

[2015-01-20 13:41] hchbaw commented on #11
@chenglou thank you very much for your help.
First of all, I should merge the topics on `pu` into `master` though.
So you could  check it out later on.

[2015-02-14 09:33] foo-bar-baz opened #35 "implement bookmarks"
could you please implement the notion of bookmarks for paths which are most frequently used? much more explained here:
https://github.com/fish-shell/fish-shell/issues/1419

[2015-02-14 09:35] foo-bar-baz opened #36 "set <backspace> to remove suggestions first"
much like google chrome's addr bar and qt's autocompletion. there are many more examples. i've discussed this before here:
https://github.com/fish-shell/fish-shell/issues/1419

[2015-02-14 09:44] foo-bar-baz opened #37 "always complete to the first match"
i would like to have what is typed already to complete to the first match, again much like google-chrome's addr bar.
note that vimperato for example doesn't behave like that; or at least it didn't when i was using it (4-5 years ago).

[2015-02-14 13:21] foo-bar-baz opened #38 "add history to results"
i've just started using auto-fu but i don't see history being pull into results. is it possible to add history to resutls? i would want it to be the first hit actually. why? because *most* commands are repeteation (with some minor changes applied in small portion of them) of older commands... definitly needs to be the first hit in results...

[2015-02-17 17:49] HerringtonDarkholme opened #39 "[Feature Request] Does not send unaccepted completion after enter pressed"
Thanks for hchbaw san's splendid plugin. It works well enough for me.

However, sometimes I don't want to accept the completion and just press enter, but auto-fu does send unaccepted completion to execution. Since the completion is still in gray color, intuitively it should not be sent, at least for an end-user like me.

For example, I want to replace a file with a new one while keeping the old on

[2015-02-21 05:52] hchbaw commented on #35
Sorry, I'm not sure what to do with https://github.com/fish-shell/fish-shell/issues/1419 (make 'bind \b suppress-autosuggestion' play nice with the actual deletion ) about bookmarks.

There are some projects that seems do such jobs on https://github.com/unixorn/awesome-zsh-plugins.

[2015-02-21 06:02] hchbaw commented on #36
Sorry, I'm not sure what to do with https://github.com/fish-shell/fish-shell/issues/1467 (add most_visited_path; a new suggestion category (see also 1465) ) about "set <backspace> to remove suggestions first".

[2015-02-21 06:08] hchbaw commented on #37
Sorry, for now, it cannot be done because it is very hard to inspect the (generated/generation of the) completions from zsh scripts.

[2015-02-21 06:14] hchbaw commented on #38
It could be done with the [_history](http://zsh.sourceforge.net/Doc/Release/Completion-System.html#index-_005fhistory) completer, I don't use it personally though.

[2015-02-21 07:02] hchbaw commented on #39
Yes, this behavior is not good default.

It would be better to be done in `afu+accept-line` or `my-accept-line` which calls `afu+accept-line` rather than `zle-line-finish` because the formers theoretically could access some internal variables.

I don't tested much but below snippet could do the job for the reference.

[code]

[2015-02-21 07:09] #35 closed

[2015-02-21 08:02] HerringtonDarkholme commented on #39
Thanks! It works perfectly!

[2015-02-21 08:02] #39 closed

[2015-02-21 11:17] 257 commented on #36
apologies, wrong reference number. i updated the link; the correct link is:
https://github.com/fish-shell/fish-shell/issues/1419

the idea is to have backspace delete suggestion part first in the following sense:
say user has typed 'bar' and there is a suggestion 'FOO' for it. so he sees barFOO completed for him but he hasn't typed the FOO part of it yet and in fact he doesn't want FOO. if fact he

[2015-02-21 11:20] 257 commented on #36
i have updated my comment, this may not be reflected in email version sent out by github. please follow the web version. thanks.

[2015-02-21 11:24] 257 commented on #38
please reopen this; i have _history but it doesn't do it what i'm asking. it does words in history. what i'm asking for is more like history-incremental-search-backward.

[2015-02-21 11:25] 257 commented on #35
sorry, bad link. updated to:
https://github.com/fish-shell/fish-shell/issues/1467

[2015-02-28 00:58] 257 commented on #38
history-incremental-search-backward itself seems to need some modification to achieve this. with history-incremental-search-backward one only gets a single hit, if any. what i have in mind is more like results in fzf results in history, (and backward of course because of short to long mem hierarch in humans):
![fzf](https://cloud.githubusercontent.com/assets/1268392/6423884/ee95d672-beba-11e4-886c

[2015-03-03 21:21] foo-bar-baz opened #40 "do NOT change what user has typed"
why auto-fu changes what i type. yes in the background what i have typed is still there and so i have to *blind* type until auto-fu lets go of the prompt. this is not a sane behaviour. here _again_ google-chrome's address-bar should be the model.

[2015-03-10 17:25] chenglou commented on #11
@hchbaw just checking back =)

[2015-03-20 13:37] dkasak commented on #23
Any updates on this?

[2015-05-04 15:13] CJD14 commented on #2
I know this is a pretty old issue, and in fact one of the first, but I just wanted to confirm that this is still working on the latest versions of all of these plugins, with zsh-syntaxhighlighting, zsh-autocompletion, and this. worked perfectly when sourced and setup in the correct order in your zshrc.   syntax first, autocompl, next and then auto-fu finally and perfect results. Great job on this.

[2015-05-04 20:39] sunaku commented on #2
No such luck here. :sob:

Loading zsh-syntax-highlighting before auto-fu (in both `tbh` and `pu` branches) gives me this error:

[code]

Loading zsh-syntax-highlighting before auto-fu (in `master` branch) gives me this error:

[code]

In contrast, loading auto-fu (in `master` branch) by itself works correctly:

[code]

How did you make this work?  :scream:  Could you share your exact config files?

[2015-05-04 22:49] CJD14 commented on #2
Definitely as soon as I am home and get a chance tonight. But did you follow the process in hchbaws comment? Try this:

 as hchbaw stated above

[code]

Finally restart zsh or simply source your zshrc.

You could also try this. Based on memory this was how my zshrc was setup.

[code]

Of coarse adjust accordingly to your directories. I checked out pu branch as well. I also used antigen to DL and l

[2015-05-05 16:57] CJD14 commented on #2
@sunaku

here is my zshrc file

https://github.com/CJD14/dotfiles/blob/master/zshrc

I also added hchbaw's list-colors.zsh plugin as well to this and just got it working, so that's what you see at very bottom of file now.

[2015-06-02 20:12] oliveratutexas commented on #23
I'll give someone 5 bucks to make it compatible.

[2015-08-20 10:28] outan commented on #23
It will be very helpful if you merge pu into master.
This problem has confused me a few days.

[2015-10-21 02:04] RedHatter opened #41 "Causes duplicate prompts."
In later versions of zsh auto-fu.zsh causes the prompt to be displayed twice. In older versions of zsh this didn't happen, I don't know the exact version. For example if you simple type `echo test` `<enter>` this is the output.

    Ubuntu-15% echo test
    Ubuntu-15% echo test
    test
    Ubuntu-15%

[2015-10-30 15:16] PythonNut opened #43 "Recent zsh-syntax-highlighting breaks auto-fu"
As of commit https://github.com/zsh-users/zsh-syntax-highlighting/commit/7e6d960a08dfc7f48d8f3d658db208b0fdee7aad, `auto-fu/pu` and `auto-fu/next` both break self-insertion, among other things, with the error:

[2016-02-13 08:53] Shougo commented on #41
The problem is already fixed in next branch.
https://github.com/hchbaw/auto-fu.zsh/commit/76e17fac7e146aeea5cc528f546c8451753f3652

[2017-02-18 07:40] aiya000 opened #46 "Doesn't auto-fu.zsh support `visual` ?"
Hi, thank you for before day 😄 :

I hope to this behavior

1. $KEYMAP enters `afu-vicmd`
2. Input `v` or `V`
3. Select somewhere
4. Input x
    - ==> Delete selected area

But auto-fu.zsh delete only one char

For example.

[code]

(`^` means the cursor point)
(`_` means the selected block)

- - -

Does auto-fu.zsh support `visual` ? :smiley:

[2017-02-23 00:57] hchbaw commented on #46
Yes and no :sweat:

As far as I can tell it doesn't touch `vicmd` stuff much, so (I hope, too) it should support zsh's builtin stuff like the visual-mode etc automatically.
But on the other hand `afu-vicmd` might break many things.

Personally, I have been using `vicmd` keymap along side of `bindkey -e` for a long time now.
My simplified `.zshrc` looks like below: (it works for me.)

[code]

The k

[2017-02-23 23:03] aiya000 commented on #46
It works for me too!
Very thanks :smile: 👍

[2017-02-23 23:03] #46 closed

[2017-07-05 03:24] starwing opened #48 "Does auto-fu support prefix history filter?"
I have been use oh-my-zag before, a best feature I like is filtering history by prefix. I just need input the incomplete commands and press up arrow, and I could switch in the history that has the same prefix that match I input.

Can auto-fu support this? Sorry from a zsh newbie